%ul.reasons
  %li.quality
    %h4 Kvalitet och omtanke
    %p Alla smycken är handgjorda och noggrant kontrollerade.
  %li.delivery
    %h4 Snabb leverans
    %p Beställ innan kl 15.00 skickar vi varorna redan samma dag.
