
<div class="zoom">
  <div class="zoom__top zoom__left"></div>
  <div class="zoom__top zoom__centre"></div>
  <div class="zoom__top zoom__right"></div>
  <div class="zoom__middle zoom__left"></div>
  <div class="zoom__middle zoom__centre"></div>
  <div class="zoom__middle zoom__right"></div>
  <div class="zoom__bottom zoom__left"></div>
  <div class="zoom__bottom zoom__centre"></div>
  <div class="zoom__bottom zoom__right"></div>
  <img class="zoom__image" src="<%= product.default_image.path %>" alt="">
</div>