%ul.reasons
  %li.quality
    %h4 Kvalitet och omtanke
    %p Alla våra produkter tillverkas för hand av återvunnen material.
  %li.delivery
    %h4 Snabb leverans
    %p Beställ innan kl 15.00 skickar vi varorna redan samma dag.
  %li.support
    %h4 Kunnig support
    %p Vi finns här för att hjälpa dig och delar gärma med oss av våra erfarenheter.