- @page_title = 'Din beställning'
.container
  .row
    .col-md-8
      .checkout
        %h2 Din beställning
        %p.intro
          Dessa varor har lagts till till din beställning. Granska listan och gör eventuella ändringar.
          Klicka på "Till kassan" när du är redo att gå vidare"

        = render 'shared/order_items', order: current_order

        = link_to 'Till kassan', checkout_path, class: 'btn btn-primary'
    .col-md-3.col-lg-offset-1
      = render 'orders/checkout_sidebar'

