- active_nav_item :why
- @page_title = 'Om oss'
.content
  %h2 by Frida EM
  %p
    By Frida EM Elegance, strength & passion in perfect symbiosis. Sustainable & modular handmade luxury from Malmö,Sweden. Business inquiries;byfridaem@gmail.com
